{% extends 'base.html.twig' %}

{% block title %}Hello AttendanceController!{% endblock %}

{% block body %}
<div  class="container" >
    <h1>Add Attendence</h1>
    {{form_start(form)}}
    {{ form_widget(form)}}
    <div>
    <input class="btn btn-primary" type="Submit" value="ShowAttendence"/>
</div>
{{form_end(form)}}
</div>
</div>

<div class="mt-5 container">
<form action="SaveAttendance", method="POST" ,dataType: "json">
 {% if Addendance %}
           <table class="table table-bordered">
                <tr>
                     <th>Adm No</th>
                     <th>Name</th>
                     <th>Class</th>
                      <th>Status</th>
                </tr>
                  {% for data in Addendance %}
                   <input type="hidden" name="StudentId[]" value="{{data.Student_id}}" />
                   <input type="hidden" name="ClassId[]" value="{{data.Class_id}}" />
                    <input type="hidden" name="Date" value="{{date}}" />
                  <tr>
                     <td>{{ data.Admission_Number }}</td>
                     <td>{{ data.Name }}</td>
                     <td>{{ data.Class_Name }}</td>
                     <td>
                         <select name="status[]" Style="width:300px;height:40px;">
                              <option disabled selected> Please Select</option>
                              <option value="Present">Present</option>
                              <option value="Absent">Absent</option>
                         </select>
                     </td>
                  </tr>
                  {% endfor %}
            </table>
    {% endif %}
     <div class="form-group">
                 <input type="submit"  class="btn btn-info" id="click" name="click"  value="Save Attendance" Style="width:300px;height:50px;">
    </div>
</form>
</div>
{% endblock %}
