{% extends 'base.html.twig' %}

{% block title %}Hello AttendanceController!{% endblock %}

{% block body %}
<div  class="container" >
    <h1>Add Attendence</h1>
    {{form_start(form)}}
    {{ form_widget(form)}}
    <input class="btn btn-primary" type="Submit" value="Add Class"/>
</div>
{{form_end(form)}}
</div>
</div>

<form action="SaveAttendance", method="POST" ,dataType: "json">
 {% if Addendance %}
   <div class="table-responsive">
           <table class="table table-bordered table-striped">
                <tr>
                     <th Style="background-color:lightgrey">Adm No</th>
                     <th Style="background-color:lightgrey">Name</th>
                     <th Style="background-color:lightgrey">Class</th>
                      <th Style="background-color:lightgrey;width:200px;height:30px;">Status</th>
                </tr>
                  {% for data in Addendance %}
                   <input type="hidden" name="StudentId[]" value="{{data.Student_id}}" />
                   <input type="hidden" name="ClassId[]" value="{{data.Class_id}}" />
                    {# <input type="hidden" name="Date" value="{{Date}}" /> #}
                  <tr>
                     <td>{{ data.Admission_Number }}</td>
                     <td>{{ data.Name }}</td>
                     <td>{{ data.Class_Name }}</td>
                     <td>
                         <select name="status[]" Style="width:300px;height:40px;">
                              <option disabled selected></option>
                              <option value="Present">Present</option>
                              <option value="Absent">Absent</option>
                         </select>
                     </td>
                  </tr>
                  {% endfor %}
            </table>
    </div>
    {% endif %}
     <div class="form-group" Style="margin-left:80px;">
                 <input type="submit"  class="btn btn-info" id="click" name="click"  value="Save Attendance" Style="width:300px;height:50px;">
    </div>
</form>
{% endblock %}
