{% extends 'base.html.twig' %}

{% block title %}Hello AttendanceController!{% endblock %}

{% block body %}
<div  class="container" >
    <h1>Add Class</h1>
    {{form_start(form)}}
    {{ form_widget(form)}}
    <input class="btn btn-primary" type="Submit" value="Add Class"/>
</div>
{{form_end(form)}}
</div>
</div>

{% for fore in forms %}

<div  class="container" >
    {{form_start(fore)}}
    {{ form_widget(fore)}}
    <input class="btn btn-primary" type="Submit" value="Submit"/>
   {{form_end(form)}} 
   </div>
{% endfor %}
{% endblock %}
